<html>

<title>Darjeeling Stuffs</title>

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <!-- Custom CSS -->
    <link href="css/half-slider.css" rel="stylesheet">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="style.css" rel="stylesheet">
</head>



<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><strong style="color:#29d846">Darjeeling</strong></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Major Attractions<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Mirik</a></li>
                        <li><a href="#">Teesta</a></li>
                        <li><a href="#">Gangtok</a></li>

                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Flight Info</a></li>
                <li><a href="#">Ticket Info</a></li>
                <li><a href="#">Things To Do</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div id="section2" >
    <div class="container">
        <br/>  <br/>  <br/>
        <div class="row" style="margin-top:20px">
            <div class="col-md-1">

            </div>
            <div class="col-md-10">

                <h3 style="margin-top:0px;padding:10px;font-weight:900;margin-bottom:8px;padding-bottom:0px;border-top:2px solid #29d846;font-family:open"><strong></strong>Darjeeling</h3>
                <p  style="background:#eee;margin-top:0px;padding:10px; font-size:17px"> Darjeeling (Nepali: दार्जलिङ) is a town and a municipality in the Indian state of West Bengal. It is located in the Lesser Himalaya at an elevation of 6,700 ft (2,042.2 m). It is noted for its tea industry, the spectacular views of Kangchenjunga, the world&#39;s third-highest mountain, and the Darjeeling Himalayan Railway, a UNESCO World Heritage Site. Darjeeling is the headquarters of Darjeeling district which has a partially autonomous status within the state of West Bengal. It is also a popular tourist destination in India.
                </p>
                <p>
                <h3> A Bit of Hisotry </h3>
                </p>
                <p style="background:#eee;margin-top:0px;padding:10px; font-size:17px"> Darjeeling&#39;s name derives from a monastery called Dorje Ling which was built by the local

                    tribals Denzongpas in 1765 on behalf of the Chogyal of Sikkim. It is said that it was formerly

                    a place of worship of the Rongs where three stone stand erect (Lung-Chok) till today.

                    &quot;Dorje&quot; means thunderbolt and &quot;Ling&quot; means place. Unfortunately, the monastery was

                    destroyed by the invading Gurkha Army in 1815.

                    Darjeeling was originally a part of the Kingdom of Sikkim and was inhabited by the Lepchas,

                    a tribe native to the area since the beginning of time, before being invaded by the Gorkhas

                    who were able to subdue the combined indigenous Bhutia and Lepcha armies of Sikkim. The

                    Gorkha army from Nepal invaded Darjeeling in the 1790s, attacked the Sikkimese capital of

                    Rabdentse, and annexed territories up to the Teesta River into Nepal. After the Anglo-

                    Gorkha War, Nepal ceded one-third of it territories to the British under the 1815 Sugauli

                    Treaty, which included the land area between the Mechi and Teesta Rivers. On 10 February

                    1817, the British returned the land area between the Mechi and Teesta to the Sikkimese

                    Chogyal under the Treaty of Titalia.

                    In February 1829 dispute between Nepal and Sikkim arose regarding their borders

                    (especially Ontoo Dara) and the then British Governor-General of India, Lord William

                    Bentinck, sent two officers, Captain George Alymer Lloyd and J. W. Grant, to help resolve

                    the situation. On the journey to Ontoo Dara the two officers stayed at Darjeeling for six days

                    at &quot;the old Goorka station called Dorjeling&quot;, which Lloyd noted was populated by &quot;100

                    souls&quot; of Lepchas, and were &quot;much impressed with the possibility of the station as a

                    sanatorium.&quot;

                    Bentinck agreed to acquire the hill tract as a military outpost and sanatorium,

                    acknowledging that it also offered strategic advantages as a military outpost and trading

                    hub. Captain Herbert, the Deputy Surveyor General, was then sent to Darjeeling to examine

                    the area. The court of Directors of the British East India Company approved the project.

                    General Lloyd was given the responsibility to negotiate a lease of the area from the Chogyal

                    of Sikkim. The lease as per the Deed of Grant was granted on 1 February 1835 and runs as

                    follows:

                    &quot;The Governor-General having expressed his desire for the possession of the hills of

                    Darjeeling on account of its cool climate, for the purpose of enabling the servants of his Government, suffering from sickness, to avail themselves of its advantages, I the

                    Sikkimputtee Rajah out of friendship for the said Governor-General, hereby present

                    Darjeeling to the East India, that is, all the land south of the Great Runjeet river, east of the

                    Balasur, Kahail and Little Runjeet rivers, and west of the Rungpo and Mahanadi rivers.&quot;


                </p>
                <p>
                <h3> General Information: </h3>
                </p>
                <p>
                    Altitude: 2042m

                    Population: 132,016

                    Area:10.57sq km

                    Temperature: Max: 25

                    Min: -1- 0

                    Average Temperature: 7-18 degrees

                </p>
            </div>
            <div class="col-md-1">

            </div>
        </div>
        <br/>



    </div>

    <div class="row">
        <div class="container">
            <hr>
            <div class="col-sm-9" >

            </div>
        </div>
        <div class="row" style="background:#29d846">
            <div class="container" style="margin-top:50px">
                <div class="col-md-3">
                    <p class="text-center"><a href="#" style="color:#fff">Contact Us</a></p>
                    <!--<p class="text-center"><a href="#" style="color:#fff"> </a></p>-->
                    <!--<p class="text-center"><a href="#" style="color:#fff">Seaworld</a></p>-->
                </div>
                <div class="col-md-3">
                    <p class="text-center"><a href="#" style="color:#fff">About Us</a></p>
                    <!--<p class="text-center"><a href="#" style="color:#fff">Universal</a></p>-->
                    <!--<p class="text-center"><a href="#" style="color:#fff">American Airlines</a></p>-->
                </div>
                <div class="col-md-3">
                    <p class="text-center"><a href="#" style="color:#fff">Privacy Policy</a></p>
                    <!--<p class="text-center"><a href="#" style="color:#fff">Disney</a></p>-->
                    <!--<p class="text-center"><a href="#" style="color:#fff">British Airways</a></p>-->
                </div>
                <div class="col-md-3">
                    <p class="text-center"><a href="#" style="color:#fff">Partners</a></p>
                    <!--<p class="text-center"><a href="#" style="color:#fff">Virgin Atlantic</a></p>-->
                    <!--<p class="text-center"><a href="#" style="color:#fff">Floritix</a></p>-->
                </div>
            </div>
            <div class="row">
                <p class="text-center" style="color:#fff;margin-top:20px"> Darjeeling Guests 2015</p>
            </div>
        </div>
    </div>
</div>
</div>



</body>
</html>